<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="./internal-nlog.txt"
      throwExceptions="true">

  <variable name="logDirectory" value="./logs"/>
  <variable name="archiveLogDirectory" value="./logs/archive"/>
  <targets>
    <target name="api-request"
            xsi:type="File"
            fileName="${logDirectory}/api-request.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}"
            archiveFileName="${archiveLogDirectory}/api-request-${shortdate}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
    />
    <target name="internal-invocations"
            xsi:type="File"
            fileName="${logDirectory}/invocations.log"
            archiveFileName="${archiveLogDirectory}/invocations-${shortdate}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
    />
    <target name="db-commands"
        xsi:type="File"
        fileName="${logDirectory}/db-commands.log"
        archiveFileName="${archiveLogDirectory}/db-commands-${shortdate}.log"
        maxArchiveFiles="7"
        archiveEvery="Day"
    />
    <target name="errors"
            xsi:type="File"
            fileName="${logDirectory}/errors.log"
            archiveFileName="${archiveLogDirectory}/errors-${shortdate}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"
    />
    <target xsi:type="Null" name="blackhole" />
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <highlight-word regex="TimeZoneManager[^\s|]*|" foregroundColor="DarkGreen" />
    </target>
  </targets>

  <rules>
    <logger name="TimeZoneManager.Logs.LogAttribute*" minlevel="Trace" writeTo="internal-invocations" final="true"/>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command*"  minlevel="Trace" writeTo="db-commands"/>
    <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="api-request"/>
    <logger name="*" minlevel="Warn" writeTo="errors"/>
    <logger name="*" minlevel="Warn" writeTo="console" final="true"/>
    <logger name="TimeZoneManager*" minlevel="Debug" writeTo="console" final="true"/>
  </rules>
</nlog>
